doctype 5
html(lang="ja")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 卒論提出まであと...
    link(rel='stylesheet', href='./lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='./styles/main.css')

  body
    #wrapper
      article#so2pro
        header
          h1 卒論提出まであと...
        section
          #clock
            | k 日と e 時間 i 日 o 秒
          .progress.progress-striped.active
            .progress-bar#elapsed(role='progressbar', style='width:50%')
              .sr-only 経過時間
            .progress-bar.progress-bar-danger#remaining(role='progressbar', style='width:50%')
              .sr-only 残り時間
        section#info
          ul
            li スタート日は2013/04/01 00:00:00 で、提出期限は2014/01/19/ 23:59:59 で計算しています。
            li 念のため、提出期限は各自で必ず確認して下さい。（研究会によっては教授への提出が早いところもあります）
            li 卒業できるように頑張りましょう。

      <!--
      article#grad
        header
          h1 卒業まであと...
        section
        #clock
          | k 日と e 時間 i 日 o 秒
        .progress.progress-striped.active
          .progress-bar#elapsed(role='progressbar', style='width:50%')
            .sr-only 経過時間
          .progress-bar.progress-bar-danger#remaining(role='progressbar', style='width:50%')
            .sr-only 残り時間-->
    script(src='./scripts/app.js')