doctype 5
html(lang="ja")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 卒論提出まであと...
    link(rel='stylesheet', href='./lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='./styles/main.css')

  body
    #wrapper
      article#so2pro
        header
          h1 卒論提出まであと...
        section
          #clock
            span.time#days ??
            | 日と
            span.time#hours ??
            | 時間
            span.time#minitues ??
            | 日
            span.time#seconds ??
            | 秒
          .progress.progress-striped.active
            .progress-bar#remaining(role='progressbar', style='width:100%')
              .sr-only 残り時間
        section#info
          ul
            li スタート日は2014/04/01 00:00:00 で、提出期限は2015/01/20/ 23:59:59 で計算しています。
            li 念のため、提出期限は各自で必ず確認して下さい。（研究会によっては教授への提出が早いところもあります）
            li 卒業できるように頑張りましょう。
    script(src='./scripts/app.js')
