/*!
 * Reset
 */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time
  margin: 0
  padding: 0

h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption
  font-size 1em
  font-weight normal
  font-style normal

fieldset,iframe
  border none

caption,th
  text-align left

table
  border-collapse collapse
  border-spacing 0

article,aside,footer,header,hgroup,nav,section,figure,figcaption
  display block


// define variables
$defaultFontSize = 16px
$fontFamily = 'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif
$silverRatio = 1.4142135623730951

$backgroudColor = rgb(0,0,0)

// Function
// args: x=基数, y=指数
pow(x,y)
  for n in y
    x *= y


/*!
 * Font
 */
@font-face
  font-family dsdigi
  font-style normal
  src url('../DS-DIGI.TTF')

/*!
 * Layouts
 */
body
  width 100%
  padding 50px
  background-color rgb(0,0,0)
  color rgb(255,255,255)
  font $defaultFontSize $fontFamily

  header h1
    font-size $defaultFontSize * pow($silverRatio, 1)
  #clock
    font-size $defaultFontSize * pow($silverRatio, 2)
    text-align center
    .time
      font-size $defaultFontSize * pow($silverRatio, 3)
  #info li
    list-style none
    line-height 1.6em
    &:before
      content '※ '



